<!-- <div class="newsletter-area">
    <div class="container">
        <div class="inner">
            <img src="img/home-one/newsletter.png" alt="Shape">
            <h2>Subscribe Newsletter</h2>
            <form class="newsletter-form">
                <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" required autocomplete="off">
                <button class="btn contact-btn" type="submit">Subscribe</button>
            </form>
        </div>
    </div>
</div> -->