.newsletter-area {
    z-index: 1;
    position: relative;
    background-color: #1c1d1e;

    .inner {
        max-width: 1000px;
        margin-left: auto;
        padding-top: 50px;
        margin-right: auto;
        position: relative;
        padding-left: 60px;
        padding-bottom: 50px;
        background-color: #212222;

        img {
            top: 0;
            right: 0;
            max-width: 260px;
            position: absolute;
        }
        h2 {
            color: var(--white-color);
            margin-bottom: 30px;
            font: {
                weight: 700;
                size: 32px;
                family: var(--heading-font);
            };
        }
        .newsletter-form {
            position: relative;
            max-width: 490px;

            .form-control {
                height: 46px;
                font-size: 15px;
                border-radius: 0;
                padding-left: 20px;
                color: var(--white-color);
                background-color: transparent;
                border: 1px solid var(--gold-color);

                &:focus {
                    box-shadow: none;
                }
            }
            ::placeholder {
                color: #a9a3a3;
            }
            .contact-btn {
                top: 0;
                right: 0;
                border-radius: 0;
                position: absolute;
                padding: 11px 20px;
                color: var(--white-color);
            }
        }
    }
    &::before {
        top: 0;
        left: 0;
        right: 0;
        height: 50%;
        z-index: -1;
        content: '';
        position: absolute;
        background-color: var(--white-color);
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .newsletter-area {
        .inner {
            padding-top: 30px;
            padding-left: 15px;
            padding-bottom: 30px;

            img {
                max-width: 185px;
            }
            h2 {
                margin-bottom: 20px;
                font: {
                    size: 20px;
                };
            }
            .newsletter-form {
                .form-control {
                    padding-left: 15px;
                    font-size: 14px;
                }
                .contact-btn {
                    padding: 13px 20px;
                    font-size: 13px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .newsletter-area {
        .inner {
            h2 {
                margin-bottom: 24px;
                font: {
                    size: 26px;
                };
            }
            .newsletter-form {
                .form-control {
                    height: 43px;
                }
                .contact-btn {
                    padding: 11px 20px 12px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}