<app-nabvar />

<app-page-banner
    [pageTitle]="'Entre em Contado'"
    [pageSubTitle]="'Contato'"
    [backgroundImage]="'img/home-one/home-bg1.png'"
/>

<!-- Contact Us -->
<div
    class="contact-form contact-form-four ptb-100"
    style="background-image: url(img/contact-bg.png);"
>
    <div class="loaction-area">
        <div class="container">
            <div class="row justify-content-center location-bg">
                <div class="col-sm-6 col-lg-4">
                    <div class="location-item">
                        <div class="location-icon">
                            <i class="flaticon-pin"></i>
                        </div>
                        <h3>Localização</h3>
                        <ul>
                            <li>Rua Zeferino Soares, 97, salas 2 a 4, Centro, Itanhaém/SP CEP 11740-026</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="location-item">
                        <div class="location-icon">
                            <i class="flaticon-call"></i>
                        </div>

                        <h3>Telefone</h3>

                        <ul>
                            <li><a href="tel:+0755543332322">13-982148845</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="location-item">
                        <div class="location-icon">
                            <i class="flaticon-email"></i>
                        </div>

                        <h3>Email</h3>
                        <ul>
                            <li><a href="mailto:hello&#64;lufz.com">teste&#64;teste.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Map -->
<div class="map-area">
  <iframe
    src="https://www.google.com/maps?q=-24.185375819647685,-46.79038124596869&hl=pt-BR&z=15&output=embed"
    class="custom-map"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>


<div class="pb-100"></div>

<app-subscribe />

<app-footer />

<app-back-to-top />