<div
    class="contact-form pb-100"
>
    <div class="location-area">
        <div class="container">
            <div
                class="row justify-content-center location-bg"
                style="background-image: url(img/home-one/location-bg.png);"
            >
                <div class="col-sm-6 col-lg-4">
                    <div class="location-item">
                        <div class="location-icon">
                            <i class="flaticon-pin"></i>
                            <img src="img/home-one/12.png" alt="Shape">
                        </div>
                        <h3>Localização</h3>
                        <ul>
                            <a class="location-link" href="https://www.google.com/maps/@-24.1853245,-46.7903221,3a,75y,49.67h,98.9t/data=!3m7!1e1!3m5!1sOn1nrgndL_EUOGi4zgwlxA!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D-8.895359495818852%26panoid%3DOn1nrgndL_EUOGi4zgwlxA%26yaw%3D49.66938235711531!7i16384!8i8192?entry=ttu&g_ep=EgoyMDI1MDkyNC4wIKXMDSoASAFQAw%3D%3D" target="_blank"><li style="color: white;">Rua Zeferino Soares, 97, salas 2 a 4, Centro, Itanhaém/SP</li></a>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="location-item">
                        <div class="location-icon">
                            <i class="flaticon-email"></i>
                            <img src="img/home-one/12.png" alt="Shape">
                        </div>
                        <h3>Email</h3>
                        <ul>
                            <li><a href="mailto:clelia.adv.org">clelia.adv.org</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="location-item">
                        <div class="location-icon">
                            <i class="flaticon-call"></i>
                            <img src="img/home-one/12.png" alt="Shape">
                        </div>
                        <h3>Telefone</h3>
                        <ul>
                            <li><a href="https://wa.me/5513982148845?text=Olá!%20Gostaria%20de%20mais%20informações." target="_blank">13-982148845</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>