.contact-form {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.contact-wrap {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;

    .form-group {
        margin-bottom: 30px;

        .current {
            color: #ababab;
        }
        .nice-select{
            float: unset;
            
            &.open {
                .list {
                    background-color: transparent !important;
                    border: 1px solid var(--gold-color);
                }
            }
            .option {
                &:hover, &.focus, &.selected.focus {
                    background-color: var(--gold-color);
                }
            }
        }
        .form-control {
            background-color: transparent;
            border: 1px solid var(--gold-color);
            border-radius: 0;
            height: 60px;
            padding-left: 30px;
            color: var(--white-color);
            font-size: 15px;

            &:focus {
                box-shadow: none;
                border: 1px solid var(--white-color);
            }
        }
        ::placeholder {
            color: #ababab;
        }
        textarea {
            height: auto !important;
            padding-top: 15px;
        }
    }
}
.contact-btn {
    font-weight: 600;
    font-size: var(--all-size);
    color: var(--white-color);
    background-color: var(--gold-color);
    padding: 16px 40px;
    border: 0;
    position: relative;
    z-index: 1;
    transition: var(--transition);

    &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        opacity: 0;
        z-index: -1;
        transition: var(--transition);
        background-color: var(--black-color);
    }
    &:after {
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        width: 0;
        height: 100%;
        opacity: 0;
        z-index: -1;
        transition: var(--transition);
        background-color: var(--black-color);
    }
    &:hover {
        color: var(--white-color);

        &:before {
            width: 50%;
            opacity: 1;
        }
        &:after {
            width: 50%;
            opacity: 1;
        }
    }
}
.location-area {
    position: relative;
    top: -100px;
}
.location-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;    
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;

    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: var(--gold-color);
        opacity: .90;
    }
    &:after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: -20px;
        width: 88%;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        background-color: #c3b59f;
    }
}
.location-item {
    margin-bottom: 30px;
    position: relative;
    padding-left: 90px;
    color: var(--white-color);

    .location-icon {
        position: absolute;
        left: 0;
        top: 0;

        i {
            display: inline-block;
            color: var(--white-color);
            font-size: 26px;
            position: absolute;
            left: 32px;
            top: 22px;
        }
    }
    h3 {
        color: var(--white-color);
        margin-bottom: 15px;
        font: {
            family: var(--heading-font);
            weight: 600;
            size: 28px;
        };
    }
    ul {
        margin: 0;
        padding: 0;
        margin-bottom: 2px;

        li {
            list-style-type: none;
            display: block;
            margin-bottom: 3px;
            font-size: 15px;

            &:last-child {
                margin-bottom: 0;
            }
            a {
                color: var(--white-color);

                &:hover {
                    color: var(--black-color);
                }
            }
        }
    }
    .location-link {
        display: block;
        color: #282828;
        margin-top: 10px;

        &:hover {
            color: var(--white-color);
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .contact-wrap {
        max-width: 970px;
        margin-left: auto;
        margin-right: auto;

        .form-group {
            .form-control {
                height: 50px;
                padding-left: 20px;
                font-size: 14px;
            }
        }
    }
    .contact-btn {
        font-size: 14px;
        padding: 12px 28px;
    }
    .location-area {
        top: -50px;
    }
    .location-bg {
        padding-top: 30px;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .location-item {
        padding-left: 90px;

        .location-icon {
            i {
                font-size: 22px;
                left: 32px;
            }
        }
        h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        ul {
            li {
                font-size: 13px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .contact-wrap {
        .form-group {
            .form-control {
                height: 50px;
                padding-left: 20px;
                font-size: 14px;
            }
        }
    }
    .contact-btn {
        font-size: 14px;
        padding: 14px 28px;
    }
    .location-area {
        top: -70px;
    }
    .location-bg {
        padding-top: 40px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .location-item {
        padding-left: 90px;

        .location-icon {
            i {
                font-size: 26px;
            }
        }
        h3 {
            font-size: 24px;
            margin-bottom: 12px;
        }
        ul {
            li {
                font-size: 14px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}