<app-nabvar />

<app-page-banner
    [pageTitle]="'Frequently Asked Questions'"
    [pageSubTitle]="'FAQ'"
    [backgroundImage]="'img/about/1.jpg'"
/>

<!-- FAQ -->
<div class="faq-area ptb-100">
    <div class="container">
        <div class="row faq-wrap">
            <div class="col-lg-12">
                <div class="faq-head">
                    <h2>Criminal Law</h2>
                </div>
                <div class="faq-item">
                    <ul class="accordion">
                        <li>
                            <button
                                type="button"
                                (click)="toggleSection(0)" [ngClass]="{ 'open': isSectionOpen(0) }"
                            >
                                What is criminal law?
                            </button>
                            <div [ngClass]="{ 'open': isSectionOpen(0) }">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, odit expedita eos molestiae ipsa totam quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quos mollitia voluptatum aliquam repellendus similique iure fuga aspernatur amet odit! At vitae dicta excepturi quasi? Veritatis pariatur excepturi illum ut?
                                </p>
                            </div>
                        </li>
                        <li>
                            <button
                                type="button"
                                (click)="toggleSection(1)" [ngClass]="{ 'open': isSectionOpen(1) }"
                            >
                                What is the purpose of a search warrant?
                            </button>
                            <div [ngClass]="{ 'open': isSectionOpen(1) }">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, odit expedita eos molestiae ipsa totam quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quos mollitia voluptatum aliquam repellendus similique iure fuga aspernatur amet odit! At vitae dicta excepturi quasi? Veritatis pariatur excepturi illum ut?
                                </p>
                            </div>
                        </li>
                        <li>
                            <button
                                type="button"
                                (click)="toggleSection(2)" [ngClass]="{ 'open': isSectionOpen(2) }"
                            >
                                How long does a criminal case take?
                            </button>
                            <div [ngClass]="{ 'open': isSectionOpen(2) }">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, odit expedita eos molestiae ipsa totam quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quos mollitia voluptatum aliquam repellendus similique iure fuga aspernatur amet odit! At vitae dicta excepturi quasi? Veritatis pariatur excepturi illum ut?
                                </p>
                            </div>
                        </li>
                        <li>
                            <button
                                type="button"
                                (click)="toggleSection(3)" [ngClass]="{ 'open': isSectionOpen(3) }"
                            >
                                Should I waive time?
                            </button>
                            <div [ngClass]="{ 'open': isSectionOpen(3) }">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, odit expedita eos molestiae ipsa totam quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quos mollitia voluptatum aliquam repellendus similique iure fuga aspernatur amet odit! At vitae dicta excepturi quasi? Veritatis pariatur excepturi illum ut?
                                </p>
                            </div>
                        </li>
                        <li>
                            <button
                                type="button"
                                (click)="toggleSection(4)" [ngClass]="{ 'open': isSectionOpen(4) }"
                            >
                                Can a defendant be convicted based only on a confession?
                            </button>
                            <div [ngClass]="{ 'open': isSectionOpen(4) }">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, odit expedita eos molestiae ipsa totam quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quos mollitia voluptatum aliquam repellendus similique iure fuga aspernatur amet odit! At vitae dicta excepturi quasi? Veritatis pariatur excepturi illum ut?
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row faq-wrap">
            <div class="col-lg-12">
                <div class="faq-head">
                    <h2>Cyber Law</h2>
                </div>
                <div class="faq-item">
                    <ul class="accordion">
                        <li>
                            <button
                                type="button"
                                (click)="toggleSection(5)" [ngClass]="{ 'open': isSectionOpen(5) }"
                            >
                                Why is there a need for Cyberlaw?
                            </button>
                            <div [ngClass]="{ 'open': isSectionOpen(5) }">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, odit expedita eos molestiae ipsa totam quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quos mollitia voluptatum aliquam repellendus similique iure fuga aspernatur amet odit! At vitae dicta excepturi quasi? Veritatis pariatur excepturi illum ut?
                                </p>
                            </div>
                        </li>
                        <li>
                            <button
                                type="button"
                                (click)="toggleSection(6)" [ngClass]="{ 'open': isSectionOpen(6) }"
                            >
                                What is the importance of Cyberlaw?
                            </button>
                            <div [ngClass]="{ 'open': isSectionOpen(6) }">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, odit expedita eos molestiae ipsa totam quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quos mollitia voluptatum aliquam repellendus similique iure fuga aspernatur amet odit! At vitae dicta excepturi quasi? Veritatis pariatur excepturi illum ut?
                                </p>
                            </div>
                        </li>
                        <li>
                            <button
                                type="button"
                                (click)="toggleSection(7)" [ngClass]="{ 'open': isSectionOpen(7) }"
                            >
                                Does Cyberlaw concern me?
                            </button>
                            <div [ngClass]="{ 'open': isSectionOpen(7) }">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, odit expedita eos molestiae ipsa totam quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quos mollitia voluptatum aliquam repellendus similique iure fuga aspernatur amet odit! At vitae dicta excepturi quasi? Veritatis pariatur excepturi illum ut?
                                </p>
                            </div>
                        </li>
                        <li>
                            <button
                                type="button"
                                (click)="toggleSection(8)" [ngClass]="{ 'open': isSectionOpen(8) }"
                            >
                                What is the general awareness about Cyberlaw today?
                            </button>
                            <div [ngClass]="{ 'open': isSectionOpen(8) }">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, odit expedita eos molestiae ipsa totam quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quos mollitia voluptatum aliquam repellendus similique iure fuga aspernatur amet odit! At vitae dicta excepturi quasi? Veritatis pariatur excepturi illum ut?
                                </p>
                            </div>
                        </li>
                        <li>
                            <button
                                type="button"
                                (click)="toggleSection(9)" [ngClass]="{ 'open': isSectionOpen(9) }"
                            >
                                What is the stage of development of Cyberlaw today?
                            </button>
                            <div [ngClass]="{ 'open': isSectionOpen(9) }">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, odit expedita eos molestiae ipsa totam quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quos mollitia voluptatum aliquam repellendus similique iure fuga aspernatur amet odit! At vitae dicta excepturi quasi? Veritatis pariatur excepturi illum ut?
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row faq-wrap">
            <div class="col-lg-12">
                <div class="faq-head">
                    <h2>Child Law</h2>
                </div>
                <div class="faq-item">
                    <ul class="accordion">
                        <li>
                            <button
                                type="button"
                                (click)="toggleSection(10)" [ngClass]="{ 'open': isSectionOpen(10) }"
                            >
                                What exactly is child custody law?
                            </button>
                            <div [ngClass]="{ 'open': isSectionOpen(10) }">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, odit expedita eos molestiae ipsa totam quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quos mollitia voluptatum aliquam repellendus similique iure fuga aspernatur amet odit! At vitae dicta excepturi quasi? Veritatis pariatur excepturi illum ut?
                                </p>
                            </div>
                        </li>
                        <li>
                            <button
                                type="button"
                                (click)="toggleSection(11)" [ngClass]="{ 'open': isSectionOpen(11) }"
                            >
                                How is child custody typically determined?
                            </button>
                            <div [ngClass]="{ 'open': isSectionOpen(11) }">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, odit expedita eos molestiae ipsa totam quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quos mollitia voluptatum aliquam repellendus similique iure fuga aspernatur amet odit! At vitae dicta excepturi quasi? Veritatis pariatur excepturi illum ut?
                                </p>
                            </div>
                        </li>
                        <li>
                            <button
                                type="button"
                                (click)="toggleSection(12)" [ngClass]="{ 'open': isSectionOpen(12) }"
                            >
                                Is visitation always given to a non-custodial parent?
                            </button>
                            <div [ngClass]="{ 'open': isSectionOpen(12) }">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, odit expedita eos molestiae ipsa totam quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quos mollitia voluptatum aliquam repellendus similique iure fuga aspernatur amet odit! At vitae dicta excepturi quasi? Veritatis pariatur excepturi illum ut?
                                </p>
                            </div>
                        </li>
                        <li>
                            <button
                                type="button"
                                (click)="toggleSection(13)" [ngClass]="{ 'open': isSectionOpen(13) }"
                            >
                                Should an attorney be hired for a child custody case?
                            </button>
                            <div [ngClass]="{ 'open': isSectionOpen(13) }">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, odit expedita eos molestiae ipsa totam quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quos mollitia voluptatum aliquam repellendus similique iure fuga aspernatur amet odit! At vitae dicta excepturi quasi? Veritatis pariatur excepturi illum ut?
                                </p>
                            </div>
                        </li>
                        <li>
                            <button
                                type="button"
                                (click)="toggleSection(14)" [ngClass]="{ 'open': isSectionOpen(14) }"
                            >
                                Will the judge take the wishes of the children into account to determine custody?
                            </button>
                            <div [ngClass]="{ 'open': isSectionOpen(14) }">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, odit expedita eos molestiae ipsa totam quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quos mollitia voluptatum aliquam repellendus similique iure fuga aspernatur amet odit! At vitae dicta excepturi quasi? Veritatis pariatur excepturi illum ut?
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<app-subscribe />

<app-footer />

<app-back-to-top />