<div
    class="banner-area"
    style="background-image: url(img/home-one/home-bg1.jpg);"
>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-item">
                            <div class="banner-left">
                                <h1>Attorneys Fight For Your Justice</h1>
                                <p>Our Squad of Professional Attorneys is devoted to your Progress & to achieve your Goal. Our Law Firm supports our clients for various versatile cases and to get justice.</p>
                                <a routerLink="/appointment">FREE CONSULTATION <i class="icofont-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-item">
                            <div class="banner-right">
                                <img class="banner-animation" src="img/home-one/3.png" alt="Banner">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="banner-bottom">
            <ul>
                <li><i class="flaticon-leader"></i></li>
                <li>
                    <span>100% Legal</span>
                    <p>Govt Approved</p>
                    <img src="img/home-one/9.png" alt="Shape">
                </li>
            </ul>
        </div>
    </div>
</div>