<div
    class="banner-area"
    style="background-image: url(img/home-one/teste.png);"
>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-item">
                            <div class="banner-left">
                                <h1>Justiça com excelência, tradição e inovação.</h1>
                                <p>Nossa equipe de advogados profissionais se dedica ao seu progresso e à conquista dos seus objetivos. Nosso escritório de advocacia apoia nossos clientes em diversos casos versáteis e na busca por justiça.</p>
                                <a href="https://wa.me/5513982148845?text=Olá!%20Gostaria%20de%20mais%20informações." target="_blank">ENTRE EM CONTATO <i class="icofont-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-item">
                            <div class="banner-right">
                                <img class="banner-animation" src="img/home-one/3.png" alt="Banner">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="banner-bottom">
            <ul>
                <li><i class="flaticon-leader"></i></li>
                <li>
                    <span>100% Legal</span>
                    <p>Aprovado pelo governo</p>
                    <img src="img/home-one/9.png" alt="Shape">
                </li>
            </ul>
        </div>
    </div>
</div>