<div
    class="help-area pb-70"
    [ngClass]="{'pt-0': router.url === '/index-3'}"
>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="img/home-one/5.jpg" alt="Help">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <h2>We Provide Qualified Attorneys For Your Assistance </h2>
                        <p>The Whole Team of Lyzo Law Firm brings a strong and fearless attitude to all the clients they assist. And, to make sure that you win, our team will provide you with High-quality service.</p>
                        <div class="help-inner-left">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> Browse Our Website</li>
                                <li><i class="flaticon-checkmark"></i> Choose Services</li>
                            </ul>
                        </div>
                        <div class="help-inner-right">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                <li><i class="flaticon-checkmark"></i> Best Performances</li>
                            </ul>
                        </div>
                        <div class="help-signature">
                            <img src="img/home-one/4.png" alt="Signature">
                        </div>
                        <a class="cmn-btn" routerLink="/practices">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="help-shape">
            <img src="img/home-one/6.png" alt="Shape">
        </div>
    </div>
</div>