<div
    class="help-area pb-70"
    [ngClass]="{'pt-0': router.url === '/index-3'}"
>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="img/home-one/5.jpg" alt="Help">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <h2>Nós fornecemos advogados profissionais para ajudá-lo </h2>
                        <p>O CFS é um escritório de advocacia que une inovação, criatividade e tecnologia à tradição jurídica para construir soluções rápidas, eficazes e personalizadas em todo o território nacional. Nosso propósito é defender os legítimos interesses de nossos clientes, atendendo às suas necessidades de forma assertiva, independente dos desafios. Atuamos com compromisso, ética, profissionalismo e responsabilidade, sempre com atenção aos detalhes e foco no desenvolvimento de relacionamentos consistentes. Pautados pela sustentabilidade e pelo uso inteligente de novas tecnologias, entregamos serviços jurídicos de alta performance e impacto positivo, colocando o cliente no centro de tudo.</p>
                        <div class="help-inner-left">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> Navegue pelo nosso site</li>
                                <li><i class="flaticon-checkmark"></i> Resposta Rápida</li>
                            </ul>
                        </div>
                        <div class="help-inner-right">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> Compromisso</li>
                                <li><i class="flaticon-checkmark"></i> Ética</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="help-shape">
            <img src="img/home-one/6.png" alt="Shape">
        </div>
    </div>
</div>