<div class="practice-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>HOW CAN WE HELP YOU</span>
            <h2>Our Legal Practices Areas</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="practice-item">
                    <div class="practice-icon">
                        <i class="flaticon-law"></i>
                    </div>
                    <h3>Civil Law</h3>
                    <p>Our attorneys are highly trained and skilled in the Civil Law sector  to provide the top service.</p>
                    <a routerLink="/practice-details">Read More</a>
                    <img class="practice-shape-one" src="img/home-one/7.png" alt="Shape">
                    <img class="practice-shape-two" src="img/home-one/8.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="practice-item">
                    <div class="practice-icon">
                        <i class="flaticon-family"></i>
                    </div>
                    <h3>Family Law</h3>
                    <p>Attorney of Our Squad is tremendously skillful to acquire a positive outcome and honest.</p>
                    <a routerLink="/practice-details">Read More</a>
                    <img class="practice-shape-one" src="img/home-one/7.png" alt="Shape">
                    <img class="practice-shape-two" src="img/home-one/8.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="practice-item">
                    <div class="practice-icon">
                        <i class="flaticon-inheritance"></i>
                    </div>
                    <h3>Business Law</h3>
                    <p>You don’t need to worry about your business till our Master’s Attorneys are here to help you.</p>
                    <a routerLink="/practice-details">Read More</a>
                    <img class="practice-shape-one" src="img/home-one/7.png" alt="Shape">
                    <img class="practice-shape-two" src="img/home-one/8.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="practice-item">
                    <div class="practice-icon">
                        <i class="flaticon-mortarboard"></i>
                    </div>
                    <h3>Education Law</h3>
                    <p>Need Attorneys for Educational law? Then, here our Professionals Attorneys ready to serve you.</p>
                    <a routerLink="/practice-details">Read More</a>
                    <img class="practice-shape-one" src="img/home-one/7.png" alt="Shape">
                    <img class="practice-shape-two" src="img/home-one/8.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="practice-item">
                    <div class="practice-icon">
                        <i class="flaticon-auction"></i>
                    </div>
                    <h3>Criminal Law</h3>
                    <p>We provide the Pre-Eminent Attorneys to solve the tough Criminal cases to help you.</p>
                    <a routerLink="/practice-details">Read More</a>
                    <img class="practice-shape-one" src="img/home-one/7.png" alt="Shape">
                    <img class="practice-shape-two" src="img/home-one/8.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="practice-item">
                    <div class="practice-icon">
                        <i class="flaticon-vulnerability"></i>
                    </div>
                    <h3>Cyber Law</h3>
                    <p>We proffer cyber specialists attorneys who are brilliant in determining these types of cases.</p>
                    <a routerLink="/practice-details">Read More</a>
                    <img class="practice-shape-one" src="img/home-one/7.png" alt="Shape">
                    <img class="practice-shape-two" src="img/home-one/8.png" alt="Shape">
                </div>
            </div>
        </div>
    </div>
</div>