<div class="practice-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>COMO PODEMOS AJUDÁ-LO</span>
            <h2>Áreas de atuação</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="practice-item">
                    <div class="practice-icon">
                        <i class="flaticon-law"></i>
                    </div>
                    <h3>Contencioso</h3>
                    <p>Contencioso cível, Contencioso trabalhista, Contencioso tributário.</p>
                    
                    <img class="practice-shape-one" src="img/home-one/7.png" alt="Shape">
                    <img class="practice-shape-two" src="img/home-one/8.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="practice-item">
                    <div class="practice-icon">
                        <i class="flaticon-family"></i>
                    </div>
                    <h3>Varejo</h3>
                    <p>Direito do consumidor, E-commerce, Internet, Meios de pagamento.</p>
                    
                    <img class="practice-shape-one" src="img/home-one/7.png" alt="Shape">
                    <img class="practice-shape-two" src="img/home-one/8.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="practice-item">
                    <div class="practice-icon">
                        <i class="flaticon-inheritance"></i>
                    </div>
                    <h3>Negócios</h3>
                    <p>Direito societário; Contratos, Arbitragem, Operações financeiras.</p>
               
                    <img class="practice-shape-one" src="img/home-one/7.png" alt="Shape">
                    <img class="practice-shape-two" src="img/home-one/8.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="practice-item">
                    <div class="practice-icon">
                        <i class="flaticon-mortarboard"></i>
                    </div>
                    <h3>Digital</h3>
                    <p>Criptomoedas; Softwares, Propriedade intelectual, Proteção de dados.</p>
                    <img class="practice-shape-one" src="img/home-one/7.png" alt="Shape">
                    <img class="practice-shape-two" src="img/home-one/8.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="practice-item">
                    <div class="practice-icon">
                        <i class="flaticon-auction"></i>
                    </div>
                    <h3>Sáude</h3>
                    <p>Ciências da vida e saúde, Biotecnológico, Direito médico e hospitalar.</p>
                    <img class="practice-shape-one" src="img/home-one/7.png" alt="Shape">
                    <img class="practice-shape-two" src="img/home-one/8.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="practice-item">
                    <div class="practice-icon">
                        <i class="flaticon-vulnerability"></i>
                    </div>
                    <h3>Ativos Imobiliários</h3>
                    <p>Direito imobiliário, Gestão patrimonial, Contratos de locação.</p>
                    <img class="practice-shape-one" src="img/home-one/7.png" alt="Shape">
                    <img class="practice-shape-two" src="img/home-one/8.png" alt="Shape">
                </div>
            </div>
        </div>
    </div>
</div>