<div class="help-area help-area-two pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="img/home-two/5.jpg" alt="Help">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <h2>We will Be Fortunate to Help You</h2>
                        <p>As Professional Law Firm we are certified to achieve our client’s Victory. And, to deal with the bad times of your, these proficient  Attorneys will always serve you with compassion, honesty, and respect. To make you win is the most consequential motive of us.</p>
                        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                        <div class="help-inner-left">
                            <ul>
                                <li><i class="flaticon-checkmark"></i>
                                    Browse Our Website</li>
                                <li><i class="flaticon-checkmark"></i> Choose Services</li>
                            </ul>
                        </div>
                        <div class="help-inner-right">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                <li><i class="flaticon-checkmark"></i> Best Performances</li>
                            </ul>
                        </div>
                        <div class="help-signature">
                            <img src="img/home-one/4.png" alt="Signature">
                        </div>
                        <h3>Barrister Babatunde Smithi</h3>
                        <span>Founder and CEO</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center help-wrap">
            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <h2>We are Concerned About Your Rights</h2>
                        <p>Lyzo Law Firm's whole squad supports all its clients with a positive and intimidating mindset. The team would always give you high-quality support to ensure that you win.
                        </p>
                        <div class="help-inner-left">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> On Time Response</li>
                                <li><i class="flaticon-checkmark"></i> Legal Way</li>
                            </ul>
                        </div>
                        <div class="help-inner-right">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> Legal Services</li>
                                <li><i class="flaticon-checkmark"></i> Honest Work</li>
                            </ul>
                        </div>
                        <a class="cmn-btn" routerLink="/practices">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="img/home-two/6.jpg" alt="Help">
                </div>
            </div>
        </div>
        <div class="help-shape">
            <img src="img/home-one/6.png" alt="Shape">
        </div>
    </div>
</div>