<!-- <div class="blog-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>BLOG</span>
            <h2>Our Latest Blogs</h2>
        </div>
        <div class="blog-slider">
            <owl-carousel-o [options]="blogSlides">
                <ng-template carouselSlide>
                    <div class="blog-item">
                        <a routerLink="/blog-details">
                            <img src="img/home-one/blog/1.jpg" alt="Blog">
                        </a>
                        <div class="blog-inner">
                            <span>Rights Case</span>
                            <h3><a routerLink="/blog-details">Justice May For You If You Are Innocent</a></h3>
                            <ul>
                                <li><i class="icofont-calendar"></i> 20 Feb 2024</li>
                                <li><i class="icofont-user-alt-7"></i> <a routerLink="/blog">John Doe</a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                            <a class="blog-link" routerLink="/blog-details">Read More <i class="icofont-simple-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="blog-item">
                        <a routerLink="/blog-details">
                            <img src="img/home-one/blog/2.jpg" alt="Blog">
                        </a>
                        <div class="blog-inner">
                            <span>Business Case</span>
                            <h3><a routerLink="/blog-details">By Whom Your Business Is Being Loss?</a></h3>
                            <ul>
                                <li><i class="icofont-calendar"></i> 20 Feb 2024</li>
                                <li><i class="icofont-user-alt-7"></i> <a routerLink="/blog">John Doe</a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                            <a class="blog-link" routerLink="/blog-details">Read More <i class="icofont-simple-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="blog-item">
                        <a routerLink="/blog-details">
                            <img src="img/home-one/blog/3.jpg" alt="Blog">
                        </a>
                        <div class="blog-inner">
                            <span>Criminal Case</span>
                            <h3><a routerLink="/blog-details">Who Can The Victim A Sue After A Car Accident?</a></h3>
                            <ul>
                                <li><i class="icofont-calendar"></i> 20 Feb 2024</li>
                                <li><i class="icofont-user-alt-7"></i> <a routerLink="/blog">John Doe</a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                            <a class="blog-link" routerLink="/blog-details">Read More <i class="icofont-simple-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="blog-item">
                        <a routerLink="/blog-details">
                            <img src="img/home-one/blog/1.jpg" alt="Blog">
                        </a>
                        <div class="blog-inner">
                            <span>Rights Case</span>
                            <h3><a routerLink="/blog-details">Justice May For You If You Are Innocent</a></h3>
                            <ul>
                                <li><i class="icofont-calendar"></i> 20 Feb 2024</li>
                                <li><i class="icofont-user-alt-7"></i> <a routerLink="/blog">John Doe</a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                            <a class="blog-link" routerLink="/blog-details">Read More <i class="icofont-simple-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="blog-item">
                        <a routerLink="/blog-details">
                            <img src="img/home-one/blog/2.jpg" alt="Blog">
                        </a>
                        <div class="blog-inner">
                            <span>Business Case</span>
                            <h3><a routerLink="/blog-details">By Whom Your Business Is Being Loss?</a></h3>
                            <ul>
                                <li><i class="icofont-calendar"></i> 20 Feb 2024</li>
                                <li><i class="icofont-user-alt-7"></i> <a routerLink="/blog">John Doe</a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                            <a class="blog-link" routerLink="/blog-details">Read More <i class="icofont-simple-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="blog-item">
                        <a routerLink="/blog-details">
                            <img src="img/home-one/blog/3.jpg" alt="Blog">
                        </a>
                        <div class="blog-inner">
                            <span>Criminal Case</span>
                            <h3><a routerLink="/blog-details">Who Can The Victim A Sue After A Car Accident?</a></h3>
                            <ul>
                                <li><i class="icofont-calendar"></i> 20 Feb 2024</li>
                                <li><i class="icofont-user-alt-7"></i> <a routerLink="/blog">John Doe</a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                            <a class="blog-link" routerLink="/blog-details">Read More <i class="icofont-simple-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="blog-item">
                        <a routerLink="/blog-details">
                            <img src="img/home-one/blog/1.jpg" alt="Blog">
                        </a>
                        <div class="blog-inner">
                            <span>Rights Case</span>
                            <h3><a routerLink="/blog-details">Justice May For You If You Are Innocent</a></h3>
                            <ul>
                                <li><i class="icofont-calendar"></i> 20 Feb 2024</li>
                                <li><i class="icofont-user-alt-7"></i> <a routerLink="/blog">John Doe</a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                            <a class="blog-link" routerLink="/blog-details">Read More <i class="icofont-simple-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="blog-item">
                        <a routerLink="/blog-details">
                            <img src="img/home-one/blog/2.jpg" alt="Blog">
                        </a>
                        <div class="blog-inner">
                            <span>Business Case</span>
                            <h3>
                                <a routerLink="/blog-details">By Whom Your Business Is Being Loss?</a></h3><ul>
                                <li><i class="icofont-calendar"></i> 20 Feb 2024</li>
                                <li><i class="icofont-user-alt-7"></i> <a routerLink="/blog">John Doe</a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                            <a class="blog-link" routerLink="/blog-details">Read More <i class="icofont-simple-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="blog-item">
                        <a routerLink="/blog-details">
                            <img src="img/home-one/blog/3.jpg" alt="Blog">
                        </a>
                        <div class="blog-inner">
                            <span>Criminal Case</span>
                            <h3><a routerLink="/blog-details">Who Can The Victim A Sue After A Car Accident?</a></h3>
                            <ul>
                                <li><i class="icofont-calendar"></i> 20 Feb 2024</li>
                                <li><i class="icofont-user-alt-7"></i> <a routerLink="/blog">John Doe</a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                            <a class="blog-link" routerLink="/blog-details">Read More <i class="icofont-simple-right"></i></a>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div> -->