<div class="portfolio-area pb-70 pt-100">
    <div class="container">
        <div class="section-title">
            <h2>Related Cases</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="portfolio-item">
                    <img src="img/home-one/portfolio/1.jpg" alt="Portfolio">
                    <div class="portfolio-inner">
                        <span>Crime</span>
                        <h3><a routerLink="/case-study-details">Critical Murder Case</a></h3>
                        <p>10 Feb 2024</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="portfolio-item">
                    <img src="img/home-one/portfolio/2.jpg" alt="Portfolio">
                    <div class="portfolio-inner">
                        <span>Rights</span>
                        <h3><a routerLink="/case-study-details">Property Problem</a></h3>
                        <p>11 Feb 2024</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="portfolio-item">
                    <img src="img/home-one/portfolio/3.jpg" alt="Portfolio">
                    <div class="portfolio-inner">
                        <span>Finance</span>
                        <h3><a routerLink="/case-study-details">Money Loundering</a></h3>
                        <p>12 Feb 2024</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="portfolio-item">
                    <img src="img/home-one/portfolio/4.jpg" alt="Portfolio">
                    <div class="portfolio-inner">
                        <span>Cyber</span>
                        <h3><a routerLink="/case-study-details">Cyber Crime Case</a></h3>
                        <p>13 Feb 2024</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="portfolio-item">
                    <img src="img/home-one/portfolio/5.jpg" alt="Portfolio">
                    <div class="portfolio-inner">
                        <span>Hack</span>
                        <h3><a routerLink="/case-study-details">Bank Hack Case</a></h3>
                        <p>14 Feb 2024</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="portfolio-item">
                    <img src="img/home-one/portfolio/6.jpg" alt="Portfolio">
                    <div class="portfolio-inner">
                        <span>Politics</span>
                        <h3><a routerLink="/case-study-details">Political Case</a></h3>
                        <p>15 Feb 2024</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>