<app-nabvar />

<app-page-banner
    [pageTitle]="'Sobre a Empresa'"
    [pageSubTitle]="'Sobre'"
    [backgroundImage]="'img/home-one/home-bg1.png'"
/>

<!-- About Us -->
<div class="pt-100" style="background-color: #fefaf3;"></div>
<div class="help-area help-area-two help-area-four pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="img/home-one/teste2.png" alt="Help">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <h2>Nós fornecemos advogados profissionais para ajudá-lo</h2>
                        <p>CFS é um escritório que une inovação, criatividade e tecnologia para construir soluções jurídicas, rápidas e eficazes, a fim de defender os legítimos interesses dos seus clientes, atendendo às suas necessidades, independentemente dos desafios, em todo o território nacional, desenvolvendo uma advocacia tradicional, com a aplicação de novas tecnologias, através do compromisso em estabelecer relacionamentos consistentes, pautando sua atuação pela ética, profissionalismo, responsabilidade e atenção aos detalhes, posicionando o cliente no centro de tudo.</p>
                        
                        <div class="help-inner-left">
                            <ul>
                                <li>
                                    <i class="flaticon-checkmark"></i> Navegue pelo nosso site</li>
                                <li><i class="flaticon-checkmark"></i> Escolha seu serviço</li>
                            </ul>
                        </div>
                        <div class="help-inner-right">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> Resposta Rápida</li>
                                <li><i class="flaticon-checkmark"></i> Melhores Apresentações</li>
                            </ul>
                        </div>
                        <h3>Advogada Clelia Francisco da Silva</h3>
                        <span>Fundadora e CEO</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center help-wrap">
            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <h2>Valores da Empresa:</h2>
                        <p>No CFS, unimos compromisso, ética e inovação para oferecer soluções jurídicas eficientes, técnicas e assertivas. Atuamos com atenção personalizada às necessidades de cada cliente, sempre pautados pela responsabilidade e pelo respeito à sustentabilidade, conciliando a tradição da advocacia com novas tecnologias para gerar resultados de alta performance e impacto positivo.</p>
                        <div class="help-inner-left">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> Compromisso</li>
                                <li><i class="flaticon-checkmark"></i> Ética</li>
                            </ul>
                        </div>
                        <div class="help-inner-right">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> Inovação</li>
                                <li><i class="flaticon-checkmark"></i> Sustentabilidade</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="img/home-one/5.jpg" alt="Help">
                </div>
            </div>
        </div>
        <div class="help-shape">
            <img src="img/home-one/6.png" alt="Shape">
        </div>
    </div>
</div>

<div class="pt-100">
    <app-attorneys />
</div>

<!-- Video Popup -->
<div
    class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-fade mfp-ready"
    *ngIf="isOpen"
    tabindex="-1"
>
    <div class="mfp-container mfp-iframe-holder">
        <div class="mfp-content">
            <div class="mfp-iframe-scaler">
                <button
                    (click)="closePopup()"
                    title="Close (Esc)"
                    type="button"
                    class="mfp-close"
                >
                    
                </button>
                <iframe src="https://www.youtube.com/embed/_ZppXdKk4c8" title="Introducing Trezo | The Next-Generation Multi-Framework Admin Dashboard Template" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="mfp-bg mfp-fade mfp-ready" *ngIf="isOpen"></div>

<app-subscribe />

<app-footer />

<app-back-to-top />