<app-nabvar />

<app-page-banner
    [pageTitle]="'Critical Murder Case'"
    [pageSubTitle]="'Case Study Details'"
    [backgroundImage]="'img/about/1.jpg'"
/>

<!-- Case Study Details -->
<div class="case-details-img pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="case-details-item">
                    <img src="img/case-details/1.jpg" alt="Case">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="case-details-item">
                    <h3>One problem of criminal activities is accounting for the proceeds without raising the suspicion of law enforcement agencies</h3>
                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                    <ul>
                        <li><span>Retribution</span> – Criminals ought to Be Punished in some way.</li>
                        <li><span>Deterrence</span> – Individual deterrence is aimed toward the specific.</li>
                        <li><span>Incapacitation </span> – Designed simply to keep criminals away from society.</li>
                        <li><span>Rehabilitation </span> – Aims at transforming an offender.</li>
                    </ul>
                    <p>Risus commodo viverra maecenas accumsan lacus vel facilisis. . Quis ipsum suspendisse ultrices gravida.  accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-process />

<app-related-case-studies />

<app-subscribe />

<app-footer />

<app-back-to-top />