<div class="portfolio-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>PORTFOLIO</span>
            <h2>Check Out Our Popular Case Studies.</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="portfolio-item">
                    <img src="img/home-one/portfolio/1.jpg" alt="Portfolio">
                    <div class="portfolio-inner">
                        <span>Crime</span>
                        <h3><a routerLink="/case-study-details">Critical Murder Case</a></h3>
                        <p>15 Feb 2024</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="portfolio-item">
                    <img src="img/home-one/portfolio/2.jpg" alt="Portfolio">
                    <div class="portfolio-inner">
                        <span>Rights</span>
                        <h3><a routerLink="/case-study-details">Children Rights</a></h3>
                        <p>16 Feb 2024</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="portfolio-item">
                    <img src="img/home-one/portfolio/3.jpg" alt="Portfolio">
                    <div class="portfolio-inner">
                        <span>Finance</span>
                        <h3><a routerLink="/case-study-details">Money Loundering</a></h3>
                        <p>17 Feb 2024</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a class="cmn-btn" routerLink="/case-studies">See More</a>
        </div>
    </div>
</div>