<footer
    class="pt-100"
    style="background-image: url(img/home-one/footer.jpg);"
>
    <div class="container">
        <div class="row align-items-center">
    <div class="col-sm-6 col-lg-4">
        <div class="footer-item">
            <div class="footer-logo">
                <a routerLink="/"><img src="img/logo.png" alt="Logo"></a>
                <p>Prestação de serviços jurídicos com excelência técnica, ética e responsabilidade, oferecendo soluções ágeis, eficazes e personalizadas, aliando tradição e inovação para resultados consistentes em todo o território nacional.</p>
                <ul>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="icofont-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/" target="_blank"><i class="icofont-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="col-sm-6 col-lg-4">
        <div class="footer-item">
            <div class="footer-service">
                <h3>Links rápidos</h3>
                <ul>
                    <li><a routerLink="/"><i class="icofont-simple-right"></i> Inicio</a></li>
                    <li><a routerLink="/about"><i class="icofont-simple-right"></i> Sobre</a></li>
                    <li><a routerLink="/contact"><i class="icofont-simple-right"></i> Contato</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="col-sm-6 col-lg-4">
        <div class="footer-item">
            <div class="footer-find">
                <h3>Encontre-nos</h3>
                <ul>
                    <li><i class="icofont-location-pin"></i> Rua Zeferino Soares, 97, salas 2 a 4, Centro, Itanhaém/SP CEP 11740-026</li>
                    <li><i class="fab fa-whatsapp"></i><a href="https://wa.me/5513982148845?text=Olá!%20Gostaria%20de%20mais%20informações." target="_blank"> 13-982148845</a></li>
                    <li><i class="flaticon-email"></i> <a href="mailto:clelia.adv.org">clelia.adv.org</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

        <div class="copyright-area">
  <div class="row">
    <div class="col-12 text-center">
      <div class="copyright-item">
        <p>CFS Escritório de Advocacia &copy; Todos os Direitos Reservados 2025</p>
      </div>
    </div>
  </div>
</div>

    </div>
</footer>