/* You can add global styles to this file, and also import other style files */
:root {
    --common-font: "Poppins", serif;
    --heading-font: "Playfair Display", serif;
    --transition: .5s all ease;
    --all-size: 16px;
    --white-color: #ffffff;
    --gold-color: #FAA492;
    --black-color: #303A50;
}
body {
    font-family: var(--common-font);
    color: var(--black-color);
    background-color: var(--white-color);
    font-size: var(--all-size);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--black-color);
    line-height: 1.4;
}
p {
    line-height: 1.8;
}
a {
    transition: var(--transition);
    text-decoration: none;
    
    &:hover {
        text-decoration: none;
    }
}
img {
    max-width: 100%;
}
.d-table {
    width:100%;
    height:100%;
}
.d-table-cell {
    vertical-align: middle;
}
.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.pt-100 {
    padding-top: 100px;
}
.pb-70 {
    padding-bottom: 70px;
}
.pb-100 {
    padding-bottom: 100px;
}
button {
    &:focus{
        outline: 0;
    }
}
.btn.focus, .btn:focus {
    box-shadow: none;
}
.btn.disabled, .btn:disabled {
    opacity: 1;
}

// Btn
.cmn-btn {
    display: inline-block;
    color: var(--white-color);
    background-color: var(--gold-color);
    font-weight: 600;
    font-size: 16px;
    padding: 14px 30px;
    position: relative;
    z-index: 1;

    &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        opacity: 0;
        z-index: -1;
        transition: var(--transition);
        background-color: var(--black-color);
    }
    &:after {
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        width: 0;
        height: 100%;
        opacity: 0;
        z-index: -1;
        transition: var(--transition);
        background-color: var(--black-color);
    }
    &:hover {
        color: var(--white-color);

        &:before {
            width: 50%;
            opacity: 1;
        }
        &:after {
            width: 50%;
            opacity: 1;
        }
    }
}
.contact-btn {
    font-weight: 600;
    font-size: var(--all-size);
    color: var(--white-color);
    background-color: var(--gold-color);
    padding: 16px 40px;
    border: 0;
    position: relative;
    z-index: 1;
    transition: var(--transition);

    &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        opacity: 0;
        z-index: -1;
        transition: var(--transition);
        background-color: var(--black-color);
    }
    &:after {
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        width: 0;
        height: 100%;
        opacity: 0;
        z-index: -1;
        transition: var(--transition);
        background-color: var(--black-color);
    }
    &:hover {
        color: var(--white-color);

        &:before {
            width: 50%;
            opacity: 1;
        }
        &:after {
            width: 50%;
            opacity: 1;
        }
    }
}

// Section Title
.section-title {
    margin-bottom: 50px;
    text-align: center;
    margin-top: -3px;

    span {
        display: block;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
        color: var(--gold-color);
    }
    h2 {
        margin-bottom: 0;
        font: {
            size: 38px;
            weight: 700;
            family: var(--heading-font);
        };
    }
}

// keyframes
@keyframes a-one {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes banner-animation {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -50px);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes a-two {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-50px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes help-animation {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(30px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes help-animation-two {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(10px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes sk-foldCubeAngle {
    0%, 10% {
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0; 
    } 
    25%, 75% {
        transform: perspective(140px) rotateX(0deg);
        opacity: 1; 
    } 
    90%, 100% {
        transform: perspective(140px) rotateY(180deg);
        opacity: 0; 
    }
}

// Pagination
.case-pagination {
    text-align: center;
    margin-top: 10px;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            display: inline-block;
            margin-right: 5px;
            margin-left: 5px;

            a {
                display: block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50%;
                font-weight: 600;
                color: #111111;
                background-color: #d3d2d1;
                box-shadow: 0px 0px 15px 0px #d3d2d1;

                &:hover, &.active {
                    color: var(--white-color);
                    background-color: var(--gold-color);
                }
                i {
                    font-weight: 600;
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    body {
        font-size: 14px;
    }
    .ptb-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pt-100 {
        padding-top: 50px;
    }
    .pb-70 {
        padding-bottom: 20px;
    }
    .pb-100 {
        padding-bottom: 50px;
    }

    // Btn
    .cmn-btn {
        font-size: 14px;
        padding: 11px 25px;
    }
    .contact-btn {
        font-size: 14px;
        padding: 12px 28px;
    }

    // Section Title
    .section-title {
        margin-bottom: 30px;
        margin-top: 0;

        span {
            font-size: 12px;
            margin-bottom: 7px;
        }
        h2 {
            font: {
                size: 22px;
            };
        }
    }

    // keyframes
    @keyframes banner-animation {
        50% {
            transform: translate(0, -20px);
        }
    }

    // Pagination
    .case-pagination {
        ul {
            li {
                a {
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    body {
        font-size: 14px;
    }
    .ptb-100 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .pt-100 {
        padding-top: 70px;
    }
    .pb-70 {
        padding-bottom: 40px;
    }
    .pb-100 {
        padding-bottom: 70px;
    }

    // Btn
    .cmn-btn {
        font-size: 15px;
        padding: 12px 25px;
    }
    .contact-btn {
        font-size: 14px;
        padding: 14px 28px;
    }

    // Section Title
    .section-title {
        margin-bottom: 40px;
        margin-top: 0;

        span {
            font-size: 13px;
            margin-bottom: 6px;
        }
        h2 {
            font: {
                size: 25px;
            };
        }
    }

    // keyframes
    @keyframes banner-animation {
        50% {
            transform: translate(0, -30px);
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}